@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Unica+One&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width:100%;
  max-width:800px;
  background-color:black;
  color:white;
  margin:auto;
}

h1 {
  font-size:36px;
  text-align:center;
  font-family: 'Unica One', sans-serif;
  font-weight:normal;
}

h2 {
  font-size:24px;
  font-family: 'Unica One', sans-serif;
  font-weight:normal;
}

a:link {
  color: green;
}

a:hover {
  color: red;
}

p{
  font-size:14px;
}

code{
  color:white;
  font-family: 'Inconsolata', monospace;
}

button{
  border:solid 0.5px green;
  background-color:black;
  color:white;
  cursor:pointer;
  font-family: 'Unica One', sans-serif;
  font-size:24px;
}

button:hover{
  border:solid 0.5px green;
  background-color:white;
  color:black;
  cursor:pointer;
}

.codebox{
background-color:grey;
  border:solid green;
  padding:10px;
}

.codebox mark{
  background-color:green;
  color:black;
}
.codebox em{
  
  color:cyan;
  font-style: normal;
}

.codebox strong{
 
  color:magenta;
  font-weight: normal;
}  

.codebox i{
  
  color:red;
  font-style: normal;
}

.codebox b{
  
  color:green;
  font-weight: normal;
}

.container{
  display:grid;
  border: solid 0.5px white;
  width:98%;
  margin:1%;
  padding:10px;
}

.nav{
   border:solid 0.5px green;
  display:grid;
  grid-template-areas: 'headerArea headerArea headerArea' '. . .';
  grid-gap:10px;
position:sticky;
  top:0;
  width:98%;
  margin:1%;
  padding:10px;
}

.nav button{
width:100%;
}

.header{
  grid-area:headerArea;
text-shadow: 2px 2px #ff0000;
   animation-name: shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  0% {text-shadow: 5px 5px #FF00C3;}
  12.5% {text-shadow: 5px 3px #C700E8;}
  25% {text-shadow: 3px 3px #9A0CFF;}
  37.5% {text-shadow: 3px 5px #02A2E8;}
  50% {text-shadow: 5px 5px #01DCFF;}
  62.5% {text-shadow: 5px 3px #02A2E8;}
  75% {text-shadow: 3px 3px #9A0CFF;}
  87.5% {text-shadow: 3px 5px #C700E8;}
  100% {text-shadow: 5px 5px #FF00C3;}
}
