/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width:100%;
  max-width:1200px;
  background-color:black;
  color:white;
}

h1 {
  font-size:36;
  text-align:center;
  font-family: 'Major Mono Display', sans-serif;
}

h2 {
  font-size:24;
  font-family: 'Major Mono Display', sans-serif;
}

a:link {
  color: green;
}

a:hover {
  color: red;
}

p{
  font-size:14;
}

code{
  color:white;
  font-family: 'Inconsolata', monospace;
}

.codebox{
background-color:grey;
  border:solid green;
  padding:10px;
}

.codebox>mark{
  background-color:green;
  color:black;
}
.codebox>em{
  
  color:cyan;
  font-style: normal;
}

.codebox>strong{
 
  color:magenta;
  font-weight: normal;
}  

.codebox>i{
  
  color:red;
  font-style: normal;
}

.codebox>b{
  
  color:green;
  font-weight: normal;
}

.container{
  display:grid;
}

.nav{
   border:solid 0.5px green;
  display:grid;
  grid-template-areas: 'headerArea headerArea headerArea' '. . .';
  grid-gap:10px;
position:sticky;
  top:0;
}

.header{
  grid-area:headerArea;}

.nav>button{
  border:solid 0.5px green;
  color:white;
  cursor:pointer;
}
